@use '../abstracts' as abstracts;

.recipe {
  max-width: 46rem;
  padding: abstracts.$spacing-500 abstracts.$spacing-400;
  background-color: abstracts.$color-white;

  &__header {
    margin-bottom: abstracts.$spacing-400;
  }

  &__image-wrapper {
    margin-top: calc(-1 * abstracts.$spacing-500);
    margin-block: calc(-1 * abstracts.$spacing-400);
    margin-bottom: abstracts.$spacing-500;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__title {
    @include abstracts.text-preset-1;

    margin: 0;
    margin-bottom: abstracts.$spacing-300;
    font-size: 2.25rem;
    color: abstracts.$color-stone-900;
  }

  &__description {
    @include abstracts.text-preset-4;
  }

  &__section {
    border-bottom: 1px solid abstracts.$color-stone-150;
    padding-bottom: abstracts.$spacing-400;

    &-title {
      @include abstracts.text-preset-2;

      color: abstracts.$color-brown-800;
      margin-bottom: abstracts.$spacing-300;

      &--highlight {
        @include abstracts.text-preset-3;

        margin-bottom: abstracts.$spacing-200;
        color: abstracts.$color-rose-800;
      }
    }

    &--highlight {
      padding: abstracts.$spacing-300;
      background-color: abstracts.$color-rose-50;
      border-bottom: none;
    }

    &:not(:last-child) {
      margin-bottom: abstracts.$spacing-400;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: abstracts.$spacing-100;
    color: abstracts.$color-stone-600;
    list-style-type: none;

    &-item {
      display: flex;
      align-items: center;

      @include abstracts.text-preset-4;

      &::before {
        content: '';
        display: inline-block;
        width: abstracts.$spacing-50;
        height: abstracts.$spacing-50;
        flex-shrink: 0;
        background-color: abstracts.$color-rose-800;
        border-radius: 50%;
        margin-left: abstracts.$spacing-100;
        margin-right: abstracts.$spacing-300;
      }
    }

    &--ordered {
      counter-reset: recipe-counter;
    }

    &--ordered &-item {
      align-items: flex-start;

      &::before {
        counter-increment: recipe-counter;
        content: counter(recipe-counter) '.';
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 0;
        color: abstracts.$color-rose-800;

        @include abstracts.text-preset-4-bold;
      }
    }
  }

  &__label {
    @include abstracts.text-preset-4-bold;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    @include abstracts.text-preset-4;

    &-caption {
      text-align: left;
      margin-bottom: abstracts.$spacing-300;
      color: abstracts.$color-stone-600;
    }

    &-row {
      color: abstracts.$color-stone-600;
    }

    &-row:first-child &-header,
    &-row:first-child &-value {
      padding-top: 0;
    }

    &-row:last-child &-header,
    &-row:last-child &-value {
      padding-bottom: 0;
    }

    &-row:not(:last-child) {
      border-bottom: 1px solid abstracts.$color-stone-150;
    }

    &-header,
    &-value {
      width: 50%;
      padding-block: abstracts.$spacing-150;
    }

    &-header {
      text-align: left;
      padding-left: abstracts.$spacing-400;

      @include abstracts.text-preset-4;
    }

    &-value {
      color: abstracts.$color-brown-800;
      padding-left: abstracts.$spacing-100;

      @include abstracts.text-preset-4-bold;
    }
  }

  @media (width >= 48rem) {
    padding: abstracts.$spacing-500;
    border-radius: abstracts.$spacing-300;

    &__image {
      height: 18.75rem;
      border-radius: abstracts.$spacing-150;
    }

    &__image-wrapper {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }

    &__title {
      font-size: 2.5rem;
    }
  }
}
