@use '../abstracts' as abstracts;

.recipe {
  padding: abstracts.$spacing-500 abstracts.$spacing-400;
  background-color: abstracts.$color-white;

  &__header {
    margin-bottom: abstracts.$spacing-400;
  }

  &__image-wrapper {
    margin-left: 0 - abstracts.$spacing-400;
    margin-right: 0 - abstracts.$spacing-400;
    margin-top: 0 - abstracts.$spacing-500;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;

    &-wrapper {
      margin-bottom: abstracts.$spacing-500;
    }
  }

  &__title {
    @include abstracts.text-preset-1;

    margin: 0;
    margin-bottom: abstracts.$spacing-300;
    font-size: 2.25rem;
    color: abstracts.$color-stone-900;
  }

  &__description {
    @include abstracts.text-preset-4;
  }

  &__section {
    margin-bottom: abstracts.$spacing-400;
    border-bottom: 1px solid abstracts.$color-stone-150;
    padding-bottom: abstracts.$spacing-400;

    &-title {
      @include abstracts.text-preset-2;

      color: abstracts.$color-brown-800;
      margin-bottom: abstracts.$spacing-300;

      &--highlight {
        @include abstracts.text-preset-3;

        margin-bottom: abstracts.$spacing-200;
        color: abstracts.$color-rose-800;
      }
    }

    &--highlight {
      padding: abstracts.$spacing-300;
      background-color: abstracts.$color-rose-50;
      border-bottom: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: abstracts.$spacing-100;
    color: abstracts.$color-stone-600;
    list-style-type: none;

    &-item {
      display: flex;
      align-items: center;

      @include abstracts.text-preset-4;

      &::before {
        content: '';
        display: inline-block;
        width: abstracts.$spacing-50;
        height: abstracts.$spacing-50;
        flex-shrink: 0;
        background-color: abstracts.$color-rose-800;
        border-radius: 50%;
        margin-left: abstracts.$spacing-100;

        // might need to adjust to 28px for pixel perfect
        margin-right: abstracts.$spacing-300;
      }
    }

    &--ordered {
      list-style-type: decimal;
    }
  }

  &__label {
    @include abstracts.text-preset-4-bold;
  }
}
