/* Fonts */

$outfit-fonts: (
  400: 'Outfit-Regular',
  600: 'Outfit-SemiBold',
  700: 'Outfit-Bold',
);

@each $weight, $file in $outfit-fonts {
  @font-face {
    font-family: Outfit;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}

$young-serif-fonts: (
  400: 'Young-Serif-Regular',
);

@each $weight, $file in $young-serif-fonts {
  @font-face {
    font-family: Young-Serif;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
