@use '../abstracts' as abstracts;

.page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (width >= 48rem) {
    &__content {
      padding: abstracts.$spacing-1600 4.75rem;
      background-color: abstracts.$color-stone-100;
    }
  }
}
