/* Text presets */
@use 'sass:list';

/* Typography utility */
@mixin text($size, $weight, $line-height: normal, $letter-spacing: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

/* Transitions */
@mixin transition($properties...) {
  $transitions: ();

  @each $prop in $properties {
    $transitions: list.append($transitions, $prop 0.2s ease-in-out, comma);
  }

  transition: $transitions;
}
