/* Colors */

// Rose
$color-rose-800: hsl(332deg 51% 32%);
$color-rose-50: hsl(330deg 100% 98%);

// Stone
$color-stone-900: hsl(24deg 5% 18%);
$color-stone-600: hsl(30deg 10% 34%);
$color-stone-150: hsl(30deg 18% 87%);
$color-stone-100: hsl(30deg 54% 90%);

// Brown
$color-brown-800: hsl(14deg 45% 46%);

// White
$color-white: hsl(0deg 0% 100%);

/* Spacing */
$spacing-1600: 8rem;
$spacing-600: 3rem;
$spacing-500: 2.5rem;
$spacing-400: 2rem;
$spacing-300: 1.5rem;
$spacing-200: 1rem;
$spacing-150: 0.75rem;
$spacing-100: 0.5rem;
$spacing-50: 0.25rem;

/* Font Family */
$font-young-serif: 'Young-Serif', var(--font-family-serif);
$font-outfit: 'Outfit', var(--font-family-sans-serif);
